<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=devie-width, initial-scale=1.0">
    <title>Steam Completion Optimizer</title>
    <link rel = "stylesheet" hhref = "/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Steam Completion Optimizer</h1>
        
        <div class="controls">
            <input type="text" 
                   id="gameSearchInput" 
                   placeholder="Search for a game (e.g. 'Cyberpunk')" 
                   onkeyup="handleSearch(this.value)"
                   autocomplete="off">
            
            <div id="searchResults" class="search-dropdown hidden"></div>

            <div style="margin-top: 10px; color: #888; font-size: 0.9em;">
                Currently Tracking: <span id="currentGameName" style="color: #66c0f4; font-weight: bold;">Elden Ring</span>
            </div>
        </div>
        
        <div class="progress-container">
            <div class="progress-bar" id="progressBar">0%</div>
        </div>

        <h2>Optimal Route (Easiest Remaining)</h2>
        <div id="achievement-list" class="grid">
            </div>
    </div>
    <div id ="toast" class = "toast hidden">
        <h3 id = "toast-title">Achievement Unlocked!</h3>
        <p id = "toast-desc">Description here</p>
    </div>

    <script src = "/static/script.js"></script>
</body>
</html>